/* Estilos para el dropdown */
.dropdown {
    position: relative;
  }
  
  /* Botón de tres barras */
  .button {
    display: flex;         
    align-items: center;   
    gap: 0.5rem; 
    background-color: transparent;
    color: white;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .button:focus {
    outline: none;
  }
  
  /* Menú desplegable */
  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    z-index: 100;
    width: 200px;
    padding: 10px;
    color:black;
  }
  
  /* Lista de categorías */
  .menuList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .menuItem {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 4px;
  }
  
  .menuItem:hover {
    background-color: #f0f0f0;
  }
  
  /* Agregar efectos cuando el menú está abierto */
  .menuList .menuItem:not(:last-child) {
    border-bottom: 1px solid #ddd;
  }
  
  .menuItem:focus {
    background-color: #e0e0e0;
  }

  /* Cambiar el color del texto "MENU" cuando el menú está abierto */
.button.active span {
  color: #FA8B5F; 
}

/* Subrayar el texto "MENU" cuando se pasa el mouse */
.button:hover span::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 40px;
  height: 2px; 
  background-color: #FA8B5F; 
  transition: width 0.3s ease;
  width: 60%;
}

.button span::after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 40px;
  height: 2px;
  width: 0; 
  background-color: #FA8B5F;
  transition: width 0.3s ease;
}